<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <div id="<%= dom_id beer %>" style="border: 2px solid black; padding: 2em; margin-bottom: 1em; width: 20em;">
    <p>
      <strong>Name:</strong><%= link_to beer.name, beer %>
    </p>

  <p>
    <strong>Style:</strong><%= beer.style %>
  </p>
  
    <p>
      <strong>Brewery:</strong><%= link_to beer.brewery.name, beer.brewery %>
    </p>
    
    <div>
      <% if beer.ratings.empty? %>
      beer has not yet been rated!
      <p>Number of ratings: <%= beer.ratings.count%>
      <% else %>
      <p>Average rating: <%= beer.average_rating %></p>
      <p>Number of ratings: <%= beer.ratings.count%>
      <% end %>

    </div>
</div>
<% end %>

</div>

<%= link_to "New beer", new_beer_path %>
